@model IEnumerable<BuiXuanHung0281.Models.BXHstudent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BXHstudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BXHstudentSex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BXHstudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BXHstudentSex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BXHstudentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BXHstudentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BXHstudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
